@import "tailwindcss";

/* English Font */
.font-en {
  font-family: "Poppins", sans-serif;
}

/* Bangla Font */
.font-bn {
  /* font-family: "Hind Siliguri", sans-serif; */
  font-family: "Tiro Bangla", serif;
}

/* *{
  border: 1px solid red;
} */